<footer class="footer bg-dark text-secondary py-3 mt-auto">
    <div class="container">
        <span>&copy; YelpCamp <%= (new Date).toLocaleString('en-US', {year: 'numeric'}) %></span>
    </div>
</footer>