<section>
    <label for="title">Title</label>
    <input type="text" id="title" name="campground[title]" value="<%= campground.title %>">
</section>
<section>
    <label for="location">Location</label>
    <input type="text" id="location" name="campground[location]" value="<%= campground.location %>">
</section>