<h1>Edit Campground</h1>

<form action="/campgrounds/<%= campground.id %>?_method=PUT"  method="POST">
    <%- include('./_form_fields.ejs') %>

    <div>
        <a class="btn btn-danger" href="/campgrounds/<%= campground.id %>">Cancel</a>
    <button class="btn btn-success">Save</button>
    </div>
    
</form>