<div class="row">
    <h1 class="text-center mb-5">Add Campground</h1>
    <div class="col-md-6 offset-md-3">
        <form action="/campgrounds" method="POST" novalidate class="needs-validation" enctype="multipart/form-data">
            <%- include('./_form_fields.ejs') %>

                <div class="mt-4">
                    <a href="/campgrounds" class="btn btn-danger">Cancel</a>
                    <button class="btn btn-success">Add Campground</button>
                </div>
        </form>
    </div>
</div>