<h1><%= campground.title %></h1>
<h2><%= campground.location %></h2>

<div>
    <a href="/campgrounds/<%= campground.id %>/edit">Edit</a>
    <form action="/campgrounds/<%= campground.id %>?_method=DELETE" method="POST">
        <button> Delete</button>
    </form>
</div>

<footer>
    <a href="/campgrounds">All Campgrounds</a>
</footer>