<section class="mb-3">
    <label class="form-label" for="username">Username</label>
    <input class="form-control" type="text" name="username" id="username" required>
</section>

<section class="mb-3">
    <label class="form-label" for="password">Password</label>
    <input class="form-control" type="password" name="password" id="password" required>
</section>